video{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    z-index: -10;
}
#content{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1{
    font-family: Poetsen One;
    color: white;
    font-size: 60px;
}